@use "./vendors/vendor-dir" as *;
@use "./base/base-dir" as *;
@use "./theme/darkTheme.scss" as darkTheme;
@use "./theme/lightTheme.scss" as lightTheme;
main {
  --lightIcon: url("/public/icon-light.svg");
  --darkIcon: url("/public/icon-dark.svg");
}

body {
  font: {
    family: "Nunito Sans", sans-serif;
    weight: 600;
    size: 16px;
  }
  scroll-behavior: smooth;
}

.container {
  width: 90%;
  margin-inline: auto;
}
main {
  &,
  & * {
    transition: background-color 225ms ease-out, color 225ms ease-out;
  }
  @include colorize(var(--Background), var(--Text));

  &.light {
    @include themeGenerator(lightTheme.$colorPalette);
  }

  &.dark {
    @include themeGenerator(darkTheme.$colorPalette);
  }
}
