@use "./vendors/vendor-dir" as *;
@use "./base/base-dir" as *;

main {
  --lightIcon: url("/public/icon-light.svg");
  --darkIcon: url("/public/icon-dark.svg");
}

$themes: (
  darkTheme: (
    "--Elements": #2b3945,
    "--Background": #202c37,
    "--Text": #ffffff,
    "--Input": #fff,
    "--HeaderShadow": (
      0px 2px 15px -3px rgba(0, 0, 0, 0.192),
    ),
  ),
  lightTheme: (
    "--Elements": #ffffff,
    "--Background": #fafafa,
    "--Text": #111517,
    "--Input": #616161,
    "--HeaderShadow": (
      0px 2px 15px -3px rgba(116, 115, 115, 0.233),
    ),
  ),
);

body {
  font: {
    family: "Nunito Sans", sans-serif;
    weight: 600;
    size: 16px;
  }
  scroll-behavior: smooth;
}

.container {
  width: min(1440px, 90%);
  margin-inline: auto;
}
main {
  background-color: var(--Background);
  color: var(--Text);
  &.light {
    @include themeGenerator($themes, "lightTheme");
  }

  &.dark {
    @include themeGenerator($themes, "darkTheme");
  }
}

.search-bar,
.drop-down__toggle,
.toggle-icon,
.header,
.drop-down__list,
#search-bar__input,
.search-bar__icon {
  
  background-color: var(--Elements);
  color: var(--Text);
  transition: background-color 225ms ease-out, color 225ms ease-out;
}

.switch-theme-btn {
  transition: color 225ms ease-out;
}
