.header {
  background-color: var(--Elements);

  padding-block: 20px;
  font: {
    size: 1.2rem;
  }

  .container {
    @include flexer($justify: space-between, $align: center, $wrap: wrap);
  }
  .switch-theme-btn{
    @include reset-btn-style;
    @include flexer($align:center,$gap:10px);
  color: inherit;

  }
}
