.switch-theme-btn {
  @include reset-btn-style;
  @include flexer($align: center, $gap: 10px);
  color: inherit;
  position: relative;
  margin-left: 30px;

  .icon {
    opacity: 0;
    transition: opacity 225ms ease-out;
    position: absolute;
    translate: -30px;
  }
  .icon.visible {
    opacity: 1;
  }
}
