.country-cards {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(clamp(230px, calc((100% - 50px) / 4), 250px), 1fr)
  );
  gap: 50px;
}
@media (max-width: 340px) {
  .country-card__details {
    word-break: break-all;
  }
  .country-cards {
    grid-template-columns: 1fr;
  }
}
