.country-card {
  background-color: #2b3743;
  color: #fff;
  border-radius: 10px;
  display: grid;
  grid-template-rows: 150px 1fr;
  @media  (max-width:633px) {
  grid-template-rows: initial;
    
  }

}

.country-card__details {
  padding: 25px;
  padding-bottom: 35px;
  overflow-wrap: break-word;
}

.country-card__flag {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100%;

}

.country-card__name {
  font-weight: 600;
  font-size: 1.5rem;
}

.country-card > p > span {
  font-weight: 600;
}
