.search-bar {
  @include flexer($align: center);
  @include widther(440px);
  position: relative; /*relative to label icon*/

  @include element("icon") {
    @include svg-filler(var(--Input));
  }
  & > label {
    @include flexer($align: center);
    @include positioner(absolute, $left: 1.5rem);
  }
}

#search-bar__input {
  @include colorize(var(--Elements), inherit);

  border: none;
  border-radius: 5px;
  box-shadow: var(--HeaderShadow);
  font-weight: 500;
  padding: 1rem;
  width: 100%;
  text-indent: 3rem;

  &:focus {
    outline: none;
  }
}
